<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h1>登録情報編集</h1>
<%= form_for @user do |f| %>
    <p>
        <%= f.label :name,"お名前" %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :age, "ご年齢" %>
        <%= f.text_field :age %>
    </p>
    <p>
        <%= f.label :description,"ご挨拶" %>
        <%= f.text_field :description %>
    </p>

    <!--<div class="check_box2">
        <%= f.fields_for :user_skill do |ff| %>
            <%= ff.label :skill_name %>
        <% end %>   
        <%= f.fields_for :user_skill do |ff| %>
            <%= ff.text_field :skill_level %>%
        <% end %>
    </div>-->
    <div class="check_box3">
        <% @skill.each do |fs| %>
            <%= fs.skill_name %>:
        <%= f.fields_for :user_skill do |ff| %>
            <%= ff.text_field :skill_level %>%
        <% end %>
            <br>
        <% end %> 
        <%# f.fields_for :user_skill do |ff| %>
            <%# ff.text_field :skill_level %>
        <%# end %>
    </div>
    <p><%= link_to "タグの追加",new_skill_path %></p>
    <%= f.submit %>
<% end %>